.searchBar {
  position: relative;
  border-radius: 4px;
  background-color: #D2E8E3;
  display: flex;
  align-items: center;
  padding: 5px;
  width: auto, 100%;
}

.searchBar:hover {
  background-color: #FFCB9A;
}

.inputBase {
  color: inherit;
  flex-grow: 1;
  padding-left: 10px;
}

.searchButton {
  padding: 10px;
}

@media (max-width: 600px) {
  .inputBase {
    flex-grow: 0;
    width: auto;
  }
  
  .searchButton {
    padding: 5px;
  }
}
