.slide-content {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;
    color: #fff;
}

/* .caption-title {
    flex: 1;
    display: inline;
    margin-top: 0;
    padding-bottom: 200px;
  }
  
  .key-points {
    flex: 1;
    margin-top: 0;
    padding-top: 0;
  }
  
  .key-points ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  */

  .caption-title {
    flex: 1;
    background: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
    padding: 5px;
    margin-right: 10px; /* Adds some space between title and key points */
    margin-bottom: 60px;
    padding-bottom: 120px;
}

.key-points {
    flex: 1;
    background: rgba(0, 0, 0, 0.5); /* Same background as caption-title for consistency */
    padding: 10px; /* Adds padding around the text */
}

.key-points ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}